body {
    color: #fff;
    background: #222;
    margin: 0;
    font-family: Calibri, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

#lightsout {
    background: #eee;
    width: 500px;
    display: inline-block;
    list-style: none;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 3px 3px 0 0 #ccc;
}

.tile {
    background: #ddd;
    float: left;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 5px;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2), inset 1px -1px 0 0 rgba(255, 255, 255, 0.05), inset -1px 1px 0 0 rgba(0, 0, 0, 0.05);
}
.tile-on {
    background: #ea3;
}
.tile:hover {
    cursor: pointer;
}

.status {
    list-style: none;
    padding: 0;
    margin: 0;
}
.status li {
    display: inline-block;
}
.button {
    color: #fff;
    background: #333;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font: inherit;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
.button:hover {
    background: #ea3;
    cursor: pointer;
}
.indicator {
    color: #fff;
    background: #333;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
    font: inherit;
}
.won {
    font-weight: bold;
}
